{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">

        <label for="symbol">Choose a share:</label>

        <select name="symbol">
            <option disabled selected value>Symbol</option>

            {% for sym in symbols %}
              <option value="{{ sym }}">{{ sym }}</option>
            {% endfor %}
        </select>
        <input class="form-control" name="shares" placeholder="Number of Shares" type="text">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
